
*.~vsdx

final-text/biblio/pdf_templates/

final-text/biblio/template_reproductions/fig_exemplo\.pdf

final-text/exemplos/fig\.pdf

final-text/fig\.pdf

ignore/

*.log

*.backup

*.aux

*.blg

final-text/texto\.lof

final-text/texto\.lot

final-text/texto\.out

final-text/texto\.pdf

final-text/texto\.toc

drawing/step1-final\.pdf
